#main-container {
    text-align: center;
    height: 100vh;}

#output-field{
    background-color: rgba(255, 255, 255, 0.24);
    overflow: auto;
}

.title{
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
}

.code-input {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.281);
    border-color: rgba(0, 255, 255, 0);
    text-align: center;
}

.code-input:focus{
    outline: 0px;

}